[data-theme="dark"] body {
  background:#181818;
  color:#f0f0f0;
}

[data-theme="dark"] .card{
  background:#222;
  box-shadow:0 3px 12px rgba(255,255,255,.04);
}

[data-theme="dark"] .table{
  background:#222;
  color:#ddd;
}

[data-theme="dark"] .table-hover tbody tr:hover{
  background:#2b2b2b;
}
